* {
    background:     	{{background}}85;
    background-alt: 	{{color3}};
    foreground:     	{{foreground}};
    selected:       	{{color5}};
    active:         	{{color9}};
    urgent:         	{{color12}};
    Prompt:		{{background}};
}