@import '../../.cache/wal/colors-waybar.css';

* {
    font-size: 10px;
    font-family: neuropolitical;    
}

window {
    background-color: alpha(@color0, 0.8);
    border-radius: 15px;
    color: #fff
}

list {
    background: none;
}

entry {
    background-color: rgba (0, 0, 0, 0.2)
}

button {
    background: none;
    border: none
}

button:hover {
    background-color: alpha(@color10, 0.8);
    border-radius: 10px;
}