@import '../../.cache/wallust/waybar.css';

* {
    font-size: 10px;
    font-family: neuropolitical;    
}

window {
    background: alpha(@scrim, 0.8);
    border-radius: 15px;
    border:2px solid @primary;
    color: #fff
}

list {
    background: none;
}

entry {
    background-color: rgba (0, 0, 0, 0.2);
    border: 1px solid @primary;
}

button {
    background: rgba (0, 0, 0, 0);
    border: 0px solid @primary;
    border-radius: 25px;
}

button:hover {
    background: alpha(@surface_tint, 0.8);
    border-radius: 25px;
}