@define-color transparent	rgba(0, 0, 0, 0.25);
@define-color clear         rgba(0, 0, 0, 0);

@import '../../../../.cache/wal/colors-waybar.css';

@define-color background-module     @transparent;
@define-color border-color          @color10;
@define-color button-color          @color12;
@define-color button-hover          @color11;
@define-color modules               @color2;
@define-color workspaces            alpha(@color3, 0.2);


* {
	font-size: 14px;
	font-family: neuropolitical;	
}

window#waybar {
	
	background: @clear;
}

#custom-scleft {

    color: @color10;
    font-size: 28px;
    background-color: alpha(@modules, 0.7);
    
}

#custom-scright {

    color: @color10;
    font-size: 28px;
    background-color: alpha(@modules, 0.7);
    
}

#custom-powermenu {

    background-color: @border-color;
    font-size: 20px;
    color: red;
    padding: 0px 25px 0px 6px;
    opacity:1.0;
    border-bottom-right-radius: 25px;

}

#custom-notification {

    background-color: @border-color;
    font-size: 20px;
    color: orange;
    padding: 0px 25px 0px 6px;
    opacity:1.0;
    border-bottom-right-radius: 25px;
    
}

#custom-notification.none {

    background-color: @border-color;
    font-size: 20px;
    color: white;
    padding: 0px 25px 0px 6px;
    opacity:1.0;
    border-bottom-right-radius: 25px;
    
}

#custom-notification.dnd-none,
#custom-notification.dnd-inhibited-none {

    background-color: @border-color;
    font-size: 20px;
    color: red;
    padding: 0px 25px 0px 6px;
    
    opacity:1.0;
    border-bottom-right-radius: 25px;
    
}

#custom-launcher{

    background-color: @border-color;
    font-size: 26px;
    color: #1793d1;
    padding: 0px 6px 0px 15px;
    opacity:1.0;
    border-bottom-left-radius: 25px;
}

#custom-updates {

    color: white;
    font-size:12px;
    padding: 2px 10px 0px 10px;
    background-color: alpha(@modules, 0.7);
}

#clock {

    font-size:12px;
    color: aliceblue;
    padding: 0px 10px 0px 10px;
    background-color: alpha(@modules, 0.7);
}

#custom-themeswitcher,
#custom-wallchange,
#tray
{
    
    font-size:14px;
    color: aliceblue;
    padding: 0px 10px 0px 10px;
    background-color: alpha(@modules, 0.7);
    
}

#memory,
#cpu
{

    font-size: 14px;
    padding: 0px 10px 0px 10px;
    
}

#window {
    
    background-color: alpha(@modules, 0.7);
    padding: 0px 15px 0px 10px;
    opacity:1.0;
    border:0px solid @border-color;
    color:#FFFFFF;
    border-top-right-radius: 25px;
}

window#waybar.empty #window {
    
    background-color: alpha(@modules, 0.7);
    border: 0px;
    border-top-right-radius: 30px;
    

}

#workspaces {

    background: @workspaces;
    padding: 0px 1px;
    border-radius: 25px;
    border:2px solid @border-color;
    font-weight: bold;
    font-style: normal;
    opacity:0.8;
    font-size:16px;
    color:#FFFFFF;
    
}

#workspaces button {
    padding: 3px 3px;
    margin: 3px 3px;
    border-radius: 15px;
    border:0px;
    color: @color13;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button.active,
#workspaces button.visible {
    color: orange;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button.empty {
    color: #FFFFFF;
    opacity:1.0;
}

#workspaces button:hover {

    color: @button-hover;
    opacity:1.0;
}

tooltip {
    border-radius: 10px;
    border: 2px solid @border-color;
    background-color: black;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: white;
    font-size:12px;
}

#pulseaudio {
	color: @color7;
    padding: 0px 10px 0px 15px;
    background-color: alpha(@modules, 0.7);
    font-size:12px;
    border-top-left-radius: 25px;
}
#pulseaudio.muted {
    color: red;
    font-size:16px;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}


